<!DOCTYPE html>
<html>
  <header>
    <title>Covid-19 figures</title>

    <style>

      body {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }

      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      th, td {
        padding: 1rem;
      }

    </style>

  </header>

  <body>

  <body>
    <table>
      <tbody>
        <tr>
          <th>Ort</th>
          <th>Bestätigte Infektionen</th>
          <th>∆Infektionen</th>
          <th>Todesfälle </th>
          <th>∆Todesfälle</th>
          <th>Quelle</th>
        </tr>
        <tr>
          <td>Global</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="https://covid19.who.int">WHO</a></td>
        </tr>
        <tr>
          <td>USA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="https://ncov2019.live/data">nCoV2019</a></td>
        </tr>
        <tr>
          <td>Europa</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="https://ncov2019.live/data">nCoV2019</a></td>
        </tr>
        <tr>
          <td>Italien</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="https://ncov2019.live/data">nCoV2019</a></td>
        </tr>
        <tr>
          <td>Frankreich</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="https://ncov2019.live/data">nCoV2019</a></td>
        </tr>
        <tr>
          <td>Deutschland</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="https://ncov2019.live/data">nCoV2019</a></td>
        </tr>
        <tr>
          <td>Österreich</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="https://ncov2019.live/data">nCoV2019</a></td>
        </tr>
        <tr>
          <td>Schweiz</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href="https://ncov2019.live/data">nCoV2019</a></td>
        </tr>
      </tbody>
    </table>
  </body>

</html>